fastapi
uvicorn
sqlalchemy
alembic
python-dotenv
pydantic
pydantic-settings
jinja2
python-multipart
passlib
bcrypt
python-jose
pyjwt
email-validator
psycopg2-binary
psycopg
requests
pyyaml
pyotp
python-dateutil
pytz
apscheduler
slowapi
razorpay
groq 
zai-sdk 
pypdf 
python-docx 
